.Nav {
    display: flex;
    flex-flow: column;
    margin: 1rem;
}

.NavLink {
    border-radius: .25rem;
    text-align: center;
    text-decoration: none;
    margin: .25rem;
    background-color: var(--body-color);
    color: var(--body-background-color);
}
