/* 

.Landing {

} */

.LandingIntro {
    padding: 3em;
}

.LandingIntroPhoto {
    float:right;
    margin: 1em;
    border-radius: 50%;
    border: 0.25em solid;
}

.LandingContact {
    background-color: var(--hero-background-color);
    padding: 1em;
}

.Hero {
    text-align: center;
    font-family: var(--hero-font);
    font-size: var(--hero-size);
    background-color: var(--hero-background-color);
    padding: 1em;
}