/*@link https://necolas.github.io/normalize.css/ */
@import url('./normalize.css');
@import url('./variables.css');


@font-face {
    font-family: CerebriSansBook;
    src: url('./assets/fonts/Cerebri Sans Book.woff2') format('woff2')
}

@font-face {
    font-family: CerebriSansBookItalic;
    src: url('./assets/fonts/Cerebri Sans Book Italic.woff2') format('woff2')
}

@font-face {
    font-family: SanchezRegular;
    src: url('./assets/fonts/Sanchez-Regular.woff2') format('woff2')
}

@font-face {
    font-family: SanchezItalic;
    src: url('./assets/fonts/Sanchez-Italic.woff2') format('woff2')
}

@font-face {
    font-family: RobotoRegular;
    src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2 supports variations'), url('./assets/fonts/Roboto-Regular.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 50 200;
}

@font-face {
    font-family: CalistogaRegular;
    src: url('./assets/fonts/Calistoga-Regular.woff2') format('woff2');
}

*, ::after, ::before {
    box-sizing: border-box;
}

#root, .App {
    position: relative;
    margin: 0;
}

html {
    font-size: var(--em-basis);
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    margin: 0;
    font-family: var(--body-font), Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--body-color);
    background-color: var(--body-background-color);
}


small, .text_small {font-size: 0.75rem;}

/*Links*/

a {
    color: var(--text-link-color);
    text-underline-offset: 5px;
}


/* Heading */

h1 {
    margin-top: 0;
    font-size: var(--h1-size);
    font-family: var(--heading-font), Arial, Helvetica, sans-serif;
}

h2 { font-size: var(--h2-size);}

h3 {font-size: var(--h3-size);}

h4 {font-size: var(--h4-size);}

h5 {font-size: var(--h5-size);}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
}

/* Heading Italics */

h1>i,
em,
.italic {
    font-family: var(--heading-font-italic)
}

h2,
h3,
h4 {
    font-family: var(--subheading-font), Arial, Helvetica, sans-serif;
}

h2>i,
h2>em,
h2>.italic,
h3>i,
h3>em,
h3>.italic,
h4>i,
h4>em,
h4>.italic {
    font-family: var(--subheading-font-italic)
}

h5,
h6 {
    font-variant: small-caps;
}